//Global
$transition: 300ms;

// Colors
$primary: #E25242;

$secondary-0: #EAEDF8;
$secondary-1: #CCD5E3;
$secondary-2: #AEB8CA;
$secondary-3: #909CB2;
$secondary-4: #7987A0;
$secondary-5: #63728E;
$secondary-6: #55647D;
$secondary-7: #455167;
$secondary-8: #353F51;
$secondary-9: #222B39;

$danger: #CF423F;
